<!DOCTYPE html>
<html>
    <head>
        <title>Disk Tunes</title>
        <link type="image/jpeg" rel="icon" href="layout/logoIcon.jpg" />
        <link type="text/css" rel="stylesheet" href="layout/header.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="disk">dISK</div>
        <div class="tunes">tunes</div>
        <img src="layout/logo.jpg" class="logoImage"/>
        <img src="layout/toolbar.jpeg" class="toolbar"/>
        <div class="tagline">LOSE YOURSELF IN MUSIC</div>
        <form class="search" action="search.action">
            <input type="text" placeholder="Search!" name="search" size="35"/>
            <input type="image" class="submitButton" src="layout/icon_red_search.png"/>
        </form>
        
    </body>
</html>
